<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Asistencias</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css"
    />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container">
      <header class="row centrar">
        <nav>
          <img src="/logo.png" alt="Logo" />
          <a href="http://127.0.0.1:3000/"><h2>Bienvenido <span>Juan</span></h2></a>
        </nav>
      </header>
      <main class="row">
        <div class="column centrar-btn">
          <input
            type="text"
            name=""
            placeholder="41345789"
            id="buscarDni"
            style="width: 75%"
          /><button class="button button" id="btnBuscar">Buscar por DNI</button>
          <table id="tablaAsistencias1"></table>
        </div>
        <div class="column centrar-btn">
          <input
            type="text"
            name=""
            placeholder="Cantidad clases para promedio"
            id="cantidadClases"
            style="width: 75%"
          />
          <button class="button button" id="btnTodos">Todos los alumnos</button>
          <table id="tablaAsistencias2"></table>
        </div>
        <div class="column centrar-btn">
          <button class="button button3" id="generarCsv">Descargar .csv para excel</button>
        </div>
      </main>
    </div>
    <script src="/dashboard.js"></script>
  </body>
</html>
