#nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav img {
    width: 10em;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 12em;
}

/* Dashboard admin */
.centrar {
    display: flex;
    justify-content: center;
    align-items: center;

}

/*  */

#todosAlumnosYpromedio {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

/* */

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav img {
    width: 9em;
}

@media only screen and (max-width: 600px) {
    #nav {
        width: 9em;
    }

    #buscarUnicoAlumno {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    #todosAlumnosYpromedio {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    #btnGenerarCsv {
        display: flex;
        align-items: center;
        margin-top: 25px;
        margin-left: 10px;
        justify-content: center;
    }
}

@media screen and (min-width: 1200px) {
    #todosAlumnosYpromedio {
        display: inline-block;
    }
    #promedioYbtnTodos{
        display: flex;
        justify-content: start;
        align-items: center;
    }
}